body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    width: 30%;
}

.right-section {
    width: 70%;
}

.course-navigation {
    border-top: 1px solid #ccc;
    padding-top: 0px;
}

.section-section {
    padding: 0px;
    border-bottom: 1px solid grey;
}

.section-section a, .section-section a:visited{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

/* Ensure the entire box is clickable */
.section-section a {
    display: block;
    padding: 25px;
    text-decoration: none;
    color: inherit;
}

/* Hover effect for section and sub-section boxes */
.section-section a:hover,
.sub-section-section li:hover {
    background-color: rgba(211, 211, 211, 0.5); /* Transparent light grey */
}

/* Active effect for section and sub-section boxes */
.section-section a.active,
.sub-section-section li a.active {
    background-color: rgba(183, 226, 250, 0.7); /* Transparent light blue */
    
    /* Add a border to indicate active state */
    border-left: 5px solid #007BFF; /* Blue color scheme */
}

.sub-section-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 20px;
    transition: background-color 0.3s;
}

.course-navigation ul {
    list-style-type: none;
    padding: 0;
}

.course-navigation li {
    display: flex;
    align-items: center;
    padding: 0px;
    border-bottom: 1px solid grey;
}

.sub-section-section a {
    color: grey;
    text-decoration: none;
    flex: 1;
}







/* Styles for the start page */
#start-page {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Styles for the start page heading */
#start-page h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Styles for the start page paragraph */
#start-page p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Styles for the start button */
#start-page button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for the start button */
#start-page button:hover {
    background-color: #0056b3;
}



/* Styles for the multiple choice question */



/* Styles for the quiz container */
#quiz-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: relative;
}

/* Styles for each quiz question */
.quiz-question {
    margin-bottom: 20px;
    padding-bottom: 120px;
}

/* Styles for the question text */
.quiz-question p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Styles for the options list */
.quiz-question ul {
    list-style-type: none;
    padding: 0;
}

/* Styles for each option */
.quiz-question li {
    margin-bottom: 10px;
}

/* Styles for the radio buttons */
.quiz-question input[type="radio"] {
    margin-right: 10px;
}

/* Styles for the submit button */
.quiz-question button {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    bottom: 10px;
    right: 20px;
    position: absolute;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    display: block;
    width: 100px;
    height: 45px;
    text-align: center;
}

/* Hover effect for the submit button */
.quiz-question button:hover {
    background-color: #0056b3;
}





/* Styles for open ended question */

.quiz-question textarea {
    width: 40%;
    max-width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: block;
}




/* Styles for the end-page section */
#end-page {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

#end-page.full-mark {
    border: 1px solid #00796b;
    background-color: #e0f7fa;
}
#end-page.high-mark {
    border: 1px solid #0288d1;
    background-color: #bbdefb;
}
#end-page.mid-mark {
    border: 1px solid #ffeb3b;
    background-color: #fff9c4;
}
#end-page.low-mark {
    border: 1px solid #d32f2f;
    background-color: #ffcdd2;
    
}

#end-page h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#end-page p {
    font-size: 18px;
}

#end-page.full-mark h2 {
    color: #00796b;
}

#end-page.full-mark p {
    color: #004d40;
}

#end-page.high-mark h2 {
    color: #0288d1;
}

#end-page.high-mark p {
    color: #00796b;
}

#end-page.mid-mark h2 {
    color: #ffeb3b;
}

#end-page.mid-mark p {
    color: #ff9800;
}

#end-page.low-mark h2 {
    color: #d32f2f;
}

#end-page.low-mark p {
    color: #b71c1c;
}

#end-page #score {
    font-weight: bold;
    color: black;
}

#end-page button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#end-page button:hover {
    background-color: #0056b3;
}