<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth.css') }}"> 

    <title>SHC Maths Academy Authentication</title>
</head>
    {% include 'navbar_unauth.html' %}
<body>

    {% for category, message in get_flashed_messages(with_categories=True) %}
        
        <div class="flash-message {{ category }} alert-dismissible">
            {{ message }}
     
    {% endfor %}

    
    <div class="auth-container">
        <div class="left-section">
            <div class="login-welcome" id="login-welcome">
                <h2>Welcome Back</h2>
                <p>Please log in using your personal information to stay connected with us.</p>
            </div>
            <div class="signup-welcome hidden" id="signup-welcome">
                <h2>Create an account</h2>
                <p>Please create an account using your personal information.</p>
            </div>
        </div>
        <div class="right-section">
            <div class="form-container">
                <!-- Toggle Buttons -->
                <div class="toggle-buttons">
                    <button id="signup-btn" class="toggle-btn" onclick="location.href='auth?action=signup'">Sign Up</button>
                    <button id="login-btn" class="toggle-btn active" onclick="location.href='auth?action=login'">Log In</button>

                </div>

                <!-- Login Form -->
                <form class="login-form" id="login-form" method="POST" action="{{ url_for('auth', action='login') }}">
                  <h2>Login</h2>
                    <div class="input-group">
                        <input type="email" id="email" name="email" required>
                        <label for="email">Email *</label>
                    </div>
                    <div class="input-group password-container">
                        <input type="password" id="password" name="password" required>
                        <label for="password">Password *</label>
                        <span class="toggle-password" onclick="togglePasswordVisibility()"></span>
                    </div>
                    <a href="#" class="forgot-password">Forgot password?</a>
                    <button type="submit">Log in</button>
                </form>

                <!-- Signup Form (hidden by default) -->
                <form class="signup-form hidden" id="signup-form" method="POST" action="{{ url_for('auth', action='signup') }}">
                    <h2>Sign Up</h2>
                        <div class="input-group">
                            <input type="text" id="username" name="username" required>
                            <label for="username">Create a username *</label>
                        </div>
                        <div class="input-group"> 
                            <input type="email" id="register email" name="register email" required>
                            <label for="register email">Register Email *</label>
                        </div>
                        <div class="input-group">
                            <input type="password" id="Create password" name="Create password" required>
                            <label for="Create password">Create Password *</label>
                        </div>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const action = urlParams.get('action');
            
            if (action === 'login') {
                showLogin();
            } else if (action === 'signup') {
                showSignup();
            }
        });

        function showSignup() {
            document.getElementById('signup-form').classList.remove('hidden');
            document.getElementById('login-form').classList.add('hidden');
            document.getElementById('signup-welcome').classList.remove('hidden');
            document.getElementById('login-welcome').classList.add('hidden');
            document.getElementById('signup-btn').classList.add('active');
            document.getElementById('login-btn').classList.remove('active');
        }

        function showLogin() {
            document.getElementById('signup-form').classList.add('hidden');
            document.getElementById('login-form').classList.remove('hidden');
            document.getElementById('signup-welcome').classList.add('hidden');
            document.getElementById('login-welcome').classList.remove('hidden');
            document.getElementById('signup-btn').classList.remove('active');
            document.getElementById('login-btn').classList.add('active');
        }

        function togglePasswordVisibility() {
            var passwordField = document.getElementById('password');
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        }


        

        
    </script>
</body>
</html>