<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content_template.css') }}">
    <title> {{ title }}</title>
</head>
<body>

    {% include 'navbar_auth.html' %}
    {% include 'flashmessage.html' %}

    <div class="container">
        <div class="left-section">
            <div class="course-navigation">
                <div class="topic-section">   
                    <a href="{{ url_for('topic_detail', level=level, topic_name=topic_name) }}">{{ display_name }}</a>
                </div> 
                <div class="unit-section">
                    <ul>
                        {% for unit in units %}
                        <li>
                            <a href="{{ url_for('unit_detail', level=level, topic_name=topic_name, unit_name=unit.name) }}" class="unit-link">
                                <span>{{ unit.display_name }}</span>
                                <div class="progress-bar">
                                    <div class="progress" style="width: {{ unit.progress }}%;"></div>
                                    <span class="progress-text">{{ unit.progress }}%</span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>    
        </div>

        <div class="right-section">
            <main>
                <div class="main-content">
                    {% if is_topic %}
                        <header>
                            <h1>{{ display_name }}</h1>
                        </header>
                        <h2>Your Progress</h2>
                        <p>{{ total_points }}/{{ total_maximum_points }} points</p>
                        <div class="content"> {{ content }} </div>
                        <h2>Units</h2>
                        <div class="units-container">
                            {% for unit in units %}
                            <a href="{{ url_for('unit_detail', level=level, topic_name=topic_name, unit_name=unit.name) }}" class="unit-link">
                                <div class="unit-box">
                                    <h3>{{ unit.display_name }}</h3>
                                    <div class="unit-section">
                                        <ul>
                                            {% for section in unit.sections %}
                                            <li>{{ section.display_name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <header>
                            <h1>{{ title }}</h1>
                        </header>
                        <div class="content">
                            <p>{{ unit_content }}</p>
                            <h2>Sections</h2>
                            <ul>
                                {% for section in sections %}
                                    <li>{{ section.display_name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </main>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get the current URL path
            const currentPath = window.location.pathname;
    
            // Function to set the active class based on the current URL
            function setActiveClass() {
                // Remove active class from all topic and unit boxes
                document.querySelectorAll('.topic-section a, .unit-section li a').forEach(function(element) {
                    element.classList.remove('active');
                });
    
                // Check for topic detail URL
                document.querySelectorAll('.topic-section a').forEach(function(element) {
                    const href = element.getAttribute('href');
                    if (currentPath === href) {
                        element.classList.add('active');
                    }
                });
    
                // Check for unit detail URL
                document.querySelectorAll('.unit-section li a').forEach(function(element) {
                    const href = element.getAttribute('href');
                    if (currentPath === href) {
                        element.classList.add('active');
                    }
                });
            }
    
            // Set the active class when the page loads
            setActiveClass();
        });
    </script>
</body>
</html>