<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content_template.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title> {{ title }}</title>
</head>
<body>

    {% include 'navbar_auth.html' %}
    {% include 'flashmessage.html' %}

    <div class="container">
        <div class="left-section">
            <div class="course-navigation">
                <div class="topic-section">   
                    <a href="{{ url_for('topic_detail', level=level, topic_name=topic_name) }}">{{ display_name }}</a>
                </div> 
                <div class="unit-section">
                    <ul>
                        {% for unit in units %}
                        <li>
                            <a href="{{ url_for('unit_detail', level=level, topic_name=topic_name, unit_name=unit.name) }}" class="unit-link">
                                <div class = 'unit-display-name'>{{ unit.display_name }}</div>
                                <div class="progress-bar">
                                    <div class="progress" id="progress-{{ unit.name }}"></div>
                                    <script>document.getElementById(`progress-{{unit.name}}`).style.width = `{{unit.progress}}%`;</script>
                                    <span class="progress-text">{{ unit.progress }}%</span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>    
        </div>



        <div class="right-section">
            <main>
                <div class="main-content">
                    {% if is_topic %}
                        <header>
                            <h1>{{ display_name }}</h1>
                        </header>
                        <h2>Your Progress</h2>
                        <p>{{ total_points }}/{{ total_maximum_points }} points</p>
                        <div class="topic-content"> {{ content }} </div>
                        <h2>Units</h2>
                        <div class="units-container">
                            {% for unit in units %}
                            <div class="unit-box">
                                <a href="{{ url_for('unit_detail', level=level, topic_name=topic_name, unit_name=unit.name) }}" class="unit-link">
                                    <h3>Unit {{ loop.index }}: {{ unit.display_name }}</h3>
                                </a>
                                <div class="sections-section">
                                    <ul>
                                        {% for section in unit.sections %}
                                        <li>
                                            <a href="{{ url_for('section_detail', level=level, topic_name=topic_name, unit_name=unit.name, section_name=section.name) }}" class="unit-section-link">
                                                {{ section.display_name }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %} <!--if not topic-->
                        <header>
                            <h1>{{ title }}</h1>
                        </header>
                        <div class="unit-content"> {{ unit_content }} </p>
                            <h2>Sections</h2>
                            <div class="sections-container">
                                {% for section in section_current %}
                                <div class="section-box">
                                    <a href="{{ url_for('section_detail', level=level, topic_name=topic_name, unit_name=unit_name, section_name=section.name) }}" class="section-link">
                                        <h3>{{ section.display_name }}</h3>
                                    </a>
                                    <div class="sub-sections-section">
                                        <ul>
                                            {% for sub_section in section.sub_sections %}
                                            <a href="{{ url_for('sub_section_detail', level=level, topic_name=topic_name, unit_name=unit_name, section_name=section.name, sub_section_name=sub_section.name) }}" class="sub-section-link">  
                                                <li>
                                                    {% if sub_section.type == 'video' %}
                                                    <i class="material-icons">play_arrow</i>
                                                    {% elif sub_section.type == 'notes' %}
                                                    <i class="material-icons">description</i>
                                                    {% else %}
                                                    <i class="material-icons">quiz</i>
                                                    {% endif %}
                                                    {{ sub_section.display_name }}
                                                </li>
                                            </a>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </main>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get the current URL path
            const currentPath = window.location.pathname;
    
            // Function to set the active class based on the current URL
            function setActiveClass() {
                // Remove active class from all topic and unit boxes
                document.querySelectorAll('.topic-section a, .unit-section li a').forEach(function(element) {
                    element.classList.remove('active');
                });
    
                // Check for topic detail URL
                document.querySelectorAll('.topic-section a').forEach(function(element) {
                    const href = element.getAttribute('href');
                    if (currentPath === href) {
                        element.classList.add('active');
                    }
                });
    
                // Check for unit detail URL
                document.querySelectorAll('.unit-section li a').forEach(function(element) {
                    const href = element.getAttribute('href');
                    if (currentPath === href) {
                        element.classList.add('active');
                    }
                });
            }
    
            // Set the active class when the page loads
            setActiveClass();
        });
    </script>
</body>
</html>