<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar_auth.css') }}">
</head>
<nav>
<header class="navbar_auth">
    <div class="logo"><a href="user_home">SHC Maths Academy</a></div>
    <nav class="nav-links">
        <div class="dropdown">
            <button class="dropbtn">Courses</button>
            <div class="dropdown-content">
                <a href="level1.html">Level 1</a>
                <a href="level2.html">Level 2</a>
                <a href="level3.html">Level 3</a>
            </div>
        </div>
        <!-- Search form -->
        <form action="/search" method="get" class="search-form">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <a href="#forum">Forum</a>
        <a href="#contact">Contact Us</a>
    </nav>
    <div class="welcome-user">
        <span>Welcome, {{ session['user'] }}</span>
    </div>
    <div class="settings-button">
        <button onclick="location.href='#settings'" class='settings'>Settings</button>
    </div>
    <div class="logout-button">
        <button onclick="showLogoutPopup()" class='logout'>Logout</button>
    </div> 
    
    <div id="logout-popup" class="logout-popup hidden">
        <p>Are you sure you want to logout?</p>
        <button class="confirm-button" onclick="confirmLogout()">Yes</button>
        <button class="cancel-button" onclick="hideLogoutPopup()">No</button>
    </div>
    <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
    <script>
        function toggleMenu() {
            const navLinks = document.querySelector('.nav-links');
            navLinks.classList.toggle('active');
        }

        function showLogoutPopup() {
        document.getElementById('logout-popup').classList.remove('hidden');
        }

        function hideLogoutPopup() {
        document.getElementById('logout-popup').classList.add('hidden');
        }

        function confirmLogout() {
            location.href = 'logout';
        }

    </script>
</header>
</nav>